
<ion-view view-title="Event Management">

 <ion-content>

 	<h1 style="color:blueviolet; padding:5px" class="title">
        Current Events:
    </h1>


   <ul class="list">
     <li ng-repeat="x in events" class="item item-button-right">
       <div style="font-size:20px"><b>{{ x.eventName }}</b></div>
       <div>{{ x.eventLocation }}, {{ x.eventTime }}</div>
       <div>{{ x.option1 }}, {{ x.option2 }}, {{ x.option3 }} , {{ x.option4 }}</div>


       <button style="padding:15px" class="button button-small button-royal icon icon-right ion-clock" ng-click="startClicked(x)"> Start Event
       </button>

      <!-- <button ng-click="deleteItem(x)" class="button button-small button-assertive ion-trash-a"></button> -->

    
     </li>
   </ul>



    <center><a class="button button-royal icon icon-right ion-plus-circled" ng-click="newEventClicked()">Create New Event</a></center>

  </ion-content>
</ion-view>



