
<ion-view view-title="HOST: Timer Setup">
          <ion-content padding="true" class="has-header">
              

              <!--<div style="margin-right:-20px;">
                  <button style="left:-10px;font-weight:600;font-size:40px;border-radius:0px 0px 0px 0px;" class="button button-assertive button-large button-full icon-right ion-android-alarm-clock">POLL RUNNING</button>
              </div>


            <div class="button-bar"> 
            <center>
                  <button class="button button-large button-royal" ng-click="stopClicked()">STOP</button>
            </center>

                 <button class="button button-positive  button-block" ng-click="autoClicked()">Auto-setup</button>
              </div>-->
    
              <div ng-controller="TimerCtrl">
                 <label class="item item-input">
                      <span class="input-label">Countdown(seconds)</span>
                      <input type="number">
                 </label>
                 <button ng-click='startTimer()'>Start</button> | <button ng-click='stopTimer()'>Stop</button>
              </div>
          </ion-content>
</ion-view>
    

                            



          </ion-content>
</ion-view>
