<ion-view view-title="Welcome to Encore" >
  <ion-content>


    <!--max-height:100%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; -->


    <center><img style="padding:10px; width: 100%;" src="img/image.jpg" alt=""></center>
     <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Email</span>
          <input type="text" ng-model="user.email" placeholder="e.g. bob@gmail.com">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>

      <div class="item item-input item-select">
        <div class="input-label">
          Select User Type
        </div>
        <select
          ng-model="selectedUser"
          ng-init="selectedUser=users[0]"
          ng-options="selectedUser.name for selectedUser in users"></select>
      </div>


      <button class="button button-full button-positive" ng-click="signIn(selectedUser)"><b>Login</b></button>
      <button class="button button-full button-royal" ng-click="createAccount()"><b>New User</b></button>


      <h3 class="text-center assertive">{{ error.message }}</h3>
      <h3 ng-hide="isUserTypeSelected(selectedUser)" class="text-center assertive"> {{ msg }} </h3>
      <h3 ng-if="firebaseUser" class="text-center balanced">Logged in as {{ firebaseUser.email }}<h3>
    </div>

<!--<center><a class="button icon icon-right ion-chevron-right" ng-click="loginClicked()">Login</a></center>-->



  </ion-content>
</ion-view>


<!--<p></p>
<p></p>
<center>
  <div>
    <button class="button button-large button-positive icon icon-left ion-log-in" ng-click="signIn(selectedUser)">Login</button>
  </div>

  <p></p>

  <div>
    <button class="button button-large button-royal icon icon-left ion-plus-circled" ng-click="createAccount()">New User</button>
  </div>
</center>-->
