<ion-view view-title="Vote">

        <ion-content padding="true" class="has-header">
            <h1 style="padding:10px; color:blueviolet">
                <center>
                  Make Your Vote
                </center>
            </h1>
            <center><h3 style="color:blueviolet;">"Event Name"</h3></center>


            <ion-list style="padding:0px 10px 0px">
                <ion-radio ng-model="choice" ng-value="1">
                    <i class="icon ion-music-note"></i>
                    <span class="item-note">Select</span>
                    Option 1
                </ion-radio>
                <ion-radio ng-model="choice" ng-value="1">
                    <i class="icon ion-music-note"></i>
                    <span class="item-note">Select</span>
                    Option 2
                </ion-radio>
                <ion-radio ng-model="choice" ng-value="1">
                    <i class="icon ion-music-note"></i>
                    <span class="item-note">Select</span>
                    Option 3
                </ion-radio>
                <ion-radio ng-model="choice" ng-value="1">
                    <i class="icon ion-music-note"></i>
                    <span class="item-note">Select</span>
                    Option 4
                </ion-radio>
  
            </ion-list>


            <center>
                <a class="button button-outline button-royal icon icon-left ion-chevron-left" ng-click="      backClicked()">BACK</a>

                <a class="button button-royal icon icon-right ion-chevron-right" ng-click="      submitClicked()">SUBMIT</a>
            </center>
            
        </ion-content>
    </ion-view>
