<ion-view view-title="Vote">
  <ion-content>

  	<div class="bar bar-header item-input-inset">
  		<label class="item-input-wrapper">
  			<i class="icon ion-ios-search placeholer-icon"></i>
  			<input type="search" placeholder="Search for event:">
  		</label>
  		<button class="button button-royal" ng-click= "searchClicked()">
  			Search
  		</button>

     </div>


   <ul class="list">
     <li ng-repeat="x in events" class="item item-button-right">
       {{ x.eventName }} ( {{ x.eventTime }} )

        <button class="button button-small button-royal" ng-click="selectClicked(x)"> 
          Select
        </button>

    
     </li>
   </ul>



  </ion-content>
</ion-view>
