<ion-view view-title="Host">
  <ion-content>
    <center><h1 style="color:purple; padding:10px" class="title">
        Create Event  
    </h1></center>

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">
              Event Name
            </span>
            <input style="font-size:20px" type="text" placeholder="Event Name">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">
              Event Location
            </span>
            <input style="font-size:20px" type="text" placeholder="Event Location">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">
              Start Time
            </span>
            <input style="font-size:20px" type="text" placeholder="Encore Start Time">
          </label>
        </div>

        <center><a class="button icon icon-right ion-chevron-right" ng-click="nextClicked()">NEXT</a></center>

  </ion-content>
</ion-view>