<ion-view view-title="Vote">
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
    </div>

<center><a class="button icon icon-right ion-chevron-right" ng-click="loginClicked()">Login</a></center> 
  	<!--<div class="bar bar-header item-input-inset">
  		<label class="item-input-wrapper">
  			<i class="icon ion-ios-search placeholer-icon"></i>
  			<input type="search" placeholder="Search for event:">
  		</label>
  		<button class="button button-royal" ng-click= "searchClicked()">
  			Search
  		</button>
  	</div>-->

  </ion-content>
</ion-view>
