<ion-view view-title="Host">
      <ion-content>
      
        <h2 style="padding:5px; color:purple">
          <b>
            <u>
              <center>
                Poll Setup
              </center>
            </u>
          </b>
        </h2>

        <div class="list">
          <label class="item item-input item-floating-label">
            <b>
              <span class="input-label">
                Poll Question
              </span>
            </b>
            
            <input style="font-size:15px" type="text" placeholder="Poll Question">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">
              Option #1
            </span>
            <input style="font-size:15px" type="text" placeholder="Option #1">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">
              Option #2
            </span>
            <input style="font-size:15px" type="text" placeholder="Option #2">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">
              Option #3
            </span>
            <input style="font-size:15px" type="text" placeholder="Option #3">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">
              Option #4
            </span>
            <input style="font-size:15px" type="text" placeholder="Option #4">
          </label>
        </div>

      <center>
        <button class="button button-large button-assertive">
          BACK
        </button>
       
        <button class="button button-large button-royal">
          SUBMIT
        </button>
      </center>

      </ion-content>
  </ion-view>
