
<ion-view view-title="Host">
          <ion-content padding="true" class="has-header">
              <div style="margin-right:-20px;">
                  <button style="left:-10px;font-weight:600;font-size:40px;border-radius:0px 0px 0px 0px;" class="button button-assertive button-large button-full icon-right ion-android-alarm-clock">POLL RUNING</button>
              </div>
              <div class="button-bar">
                  <button class="button button-positive  button-block">STOP</button>
                  <button class="button button-positive  button-block">Auto-setup</button>
              </div>
          </ion-content>
</ion-view>
