<ion-view view-title="Encore">

  <ion-content>
    <center><h1 style="color:blueviolet; padding:10px" class="title">
        Create Account
    </h1></center>

    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Email:</span>
          <input type="text" ng-model="user.email" placeholder="e.g. bob@gmail.com">
      </label>
      <label class="item item-input">
        <span class="input-label">Confirm Email:</span>
        <input type="text" ng-model="user.confirmEmail" placeholder="e.g. bob@gmail.com">
      </label>
      <label class="item item-input">
        <span class="input-label">Password:</span>
        <input type="password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <span class="input-label">Confirm Password:</span>
        <input type="password" ng-model="user.confirmPassword">
      </label>
    </div>


      <div>
        <center>
          <button class="button button-outline button-large button-royal icon icon-left ion-chevron-left" ng-click="backClicked()"><b>Back</b></button>
          <button class="button button-royal button-large icon icon-left ion-plus-circled" ng-click="createAccount()"><b>Create Account</b></button>
        </center>
      </div>

      <h3 class="text-center assertive">{{ error.message }}</h3>
        <h3 ng-hide="emailsMatch()" class="text-center assertive"> {{ email_msg }} </h3>
      <h3 ng-hide="passwordsMatch()" class="text-center assertive"> {{ password_msg }} </h3>
      <h3 ng-if="firebaseUser" class="text-center balanced">Created Account for {{ firebaseUser.email }}</h3>

  </ion-content>
</ion-view>
